@use '../../scss/variables/colours' as clr;
.container {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  aspect-ratio: 1;
  overflow: clip;
  align-items: center;
  border: 2px solid clr.$bronze;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}
