$gold: #c4a46a;
$cream: #fffbf4;
$dark_chocolate: #2c1810;
$bronze: #8b7355;
$burgundy: #722f37;
$pearl: #f8f4ec;
$dark_bg: #1a0f0f;
$ivory: #fff8e7;
$charcoal: #2c2c2c;
$charcoal_lite: #464343;
$charcoal_lite__transparent: #464343d7;
$navy: #1b264f;
